html, body {
  margin: 0;
  padding: 0;
}

.container{
	width: 100%;
}

.header{
	position: relative;
  	margin: 0 auto 0;
  	padding-top: 0px;
	height: 75px;
	width:100%;
	background-color: olive;
}

.header h2{
	margin: 0px;
	padding-top: 18.75px;
	text-align: center;
	color: #eee;
	font-size: 32px;

}

#screenImg{
	margin: auto;
    width: 90%;
}




.seatBox {
	display: block;
    background-color: lightblue;
    border: 1px solid #bbb;
    height: 45px;
    width: 45px;
}





/***************************************
		MEDIA QUERIES
****************************************/


@media (max-width: 1480px){
	#screenImg, img {
	width: 95%;
    height: 145px;
    margin: 0 2.5%;
	}
}

@media (max-width: 1260px){
	#screenImg, img{
    width: 90%;
    margin:0 5%;
	}
}


@media (max-width: 900px){
	#screenImg, img{
	margin: 0;
    width: 100%;
	}
}

@media (max-width: 800px){
	#screenImg, img{
	margin: 0;
    width: 100%;
	}
}

@media (max-width: 770px){
	img{
	margin: 0;
    width: 100%;
	}
}


@media (max-width: 670px){
	#screenImg{
    width: 100%;
    margin:0;
    
	}
}

@media (max-width: 495px){
	#screenImg{
    width: 100%;
    margin:0;
    
	}
}


@media (max-width: 455px){
	#screenImg, img{
    width: 100%;
    margin:0;
    
	}
}


