html, body {
  margin: 0;
  padding: 0;
}

.container{
	width: 100%;
}

.header{
	position: relative;
  	margin: 0 auto 0;
  	padding-top: 0px;
	height: 75px;
	width:100%;
	background-color: olive;
}

.header h2{
	margin: 0px;
	padding-top: 18.75px;
	text-align: center;
	color: #eee;
	font-size: 32px;

}

#screenImg{
	margin: auto;
    width: 90%;
}




.seatBox {
	display: block;
    background-color: lightblue;
    border: 1px solid #bbb;
    height: 45px;
    width: 45px;
}

.selectable li {
    margin: .5%;
    display: inline-block;
    width: 16%;
    height: 100px;
    padding: 2px;
    font-size: 1em;
    text-align: center;
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.selectable {
text-align: center;
}

.seatRow {
width: 90%;
margin: 0 auto;

}





/***************************************
		MEDIA QUERIES
****************************************/

@media (max-width: 1920px){
	img {
	width: 100%;
    }
    .seatSection {
    width: 80%;
    margin: 0px 8%;
}
}


@media (max-width: 1480px){
	img {
	width: 100%;
	}
}

@media (max-width: 1260px){
	img{
    width: 90%;
    margin:0 5%;
	}
}


@media (max-width: 1060px){
	.selectable li{
    	height: 80px;
	}
	.seatRow{
	width: 90%;
    margin: 0 5%;
}




@media (max-width: 900px){
	img{
	margin: 0;
    width: 100%;
	}
}

@media (max-width: 880px){
	img{
	margin: 0;
    width: 100%;
	}
	.seatSection {
    width: 90%;
    margin: 0px 2%
}
	.seatRow {
    width: 90%;
    margin: 0 5%;
    }

@media (max-width: 770px){
	img{
	margin: 0;
    width: 100%;
	}
}


/*@media (max-width: 670px){
	img{
    width: 100%;
    margin:0;
    
	}

	.selectable{
	margin: 19px 0%;
    width: 90%;
	}
}*/

@media (max-width: 670px){
	img{
    width: 100%;
    margin:0;
    
	}
	.selectable {
    margin: 8px 1%;
    width: 90%;
    height: 74px;
}

	.selectable li{
    height: 65px;
	}

@media (max-width: 600px){
	.seatRow {
    width: 90%;
    margin: 0 4%;
    }
}



@media (max-width: 580px){
.seatRow {
    width: 90%;
    margin: 0 4%;
    }
}

@media (max-width: 570px){
	.seatRow {
    width: 95%;
    margin: 0 1%;
    }
}


@media (max-width: 490px){
	#screenImg, img{
    width: 100%;
    margin:0;
    }
	.selectable li {
    height: 60px;
    width: 20%;
    margin: 0px 4px;
	}
.seatRow {
    width: 100%;
    margin: 0 -3%;
	}
}


@media (max-width: 400px){
.seatRow {
    width: 90%;
    margin: 0 0%;
}
}

